/* font */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Paytone+One&family=Rubik:wght@600&display=swap');

/* font family guide
font-family: 'Fira Sans', sans-serif;
font-family: 'Paytone One', sans-serif;
font-family: 'Rubik', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: rgb(232, 232, 219);
    scroll-behavior: smooth;
}

.max-width {
    max-width: 1300px;
    min-width: 100px;
    padding: 0 0px;
    margin: auto;
}

.section {
    padding: 100px 0;
}

.header {
    display: flex;
    font-family: 'Paytone One', sans-serif;
    font-size: 40px;
    background-color: skyblue;
}

.home {
    width: 100%;
    height: 950px;
}

.home h3 {
    font-family: 'Rubik', sans-serif;
    font-size: 4em;
    color: rgb(230, 207, 175);
    text-shadow: 5px 5px 5px black;
    padding: 65vh 30px 0vh 30px;
}

.A,
.B,
.C {
    position: relative;
    margin: 0 180px;
    margin-top: 300px;
    padding: 60px 30px;
    padding-top: 100px;
    box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.3);

    display: flex;
    align-items: left;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 2px solid rgb(172, 145, 108);
}

.A {
    margin-top: 0;
    background-color: rgb(251, 251, 237);
    transition: all 0.3s ease;
}

.A .A-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 100px 0px;
}

.B {
    margin-top: 0px;
    background-color: rgb(255, 255, 255);
}

.B .B-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.C {
    margin-top: 0;
    background-color: rgb(251, 251, 237);
}

.C .C-content {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.A .item {
    flex: 45%;
    padding: 0 10px;
}

.A .item img {
    padding: 20px;
    width: 400px;
    height: 400px;
}

.B .item {
    padding: 10px;
    flex: 29%;
    margin: 10px;
}

.B .item img {
    padding: 10px;
    width: 200px;
    height: 200px;
}

.C .item {
    padding: 10px;
    flex: 45%;
    margin: 10px;
}

.C .item img {
    padding: 10px;
    width: 300px;
    height: 300px;
}

.A h3,
.B h3,
.C h3,
.D h3 {
    font-family: 'Rubik', sans-serif;
    font-size: 36px;
    position: relative;
}

.A h5,
.B h5,
.C h5,
.D h5 {
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    position: relative;
}

.A p,
.B p,
.C p,
.D p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    position: relative;
    text-align: left;
}

footer {
    font-family: 'Fira Sans', sans-serif;
    background-color: rgb(99, 63, 36);
    padding: 20px 20px;
    color: white;
    text-align: center;
}

footer span a {
    color: rgb(215, 215, 215);
    text-decoration: none;
}

footer span a:hover {
    color: rgb(203, 162, 91);
    text-decoration: underline;
}

footer span a:visited,
footer span a:active {
    color: rgb(247, 154, 154);
    text-decoration: none;
}